{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/projects.css') }}" />

{% endblock %}
{% block header %}
    <div class="container">
        <div class="projects-header">
            <h1 class="projects-title">PROJETS</h1>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        {% for project in category.projects %}
            <a href="{{ path('project-show', { 'id' : project.id }) }}" >
                <div class="project col-sm-6">
                    <div class="project-title-div">
                        <h4>{{ project.title }}</h4>
                    </div>
                    <div class="row tags">
                        <img class="img-project-tag" src="{{ asset('images/coresite/project128Colored.png') }}" alt="project icon" />
                        {% for tag in project.tags %}
                            <span class="tag {{ tag.cssClass }}">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                    <div class="project-img-div ">
                        <img class="img-responsive" src="{{ asset('images/projects/' ~ project.mainImage) }}" alt="{{ project.mainImageAlt }}"/>
                    </div>
                    <div class="row technos">
                        {% for techno in project.technos %}
                            <span class="techno {{ techno.cssClass }}">{{ techno.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
